@import '../../styles/variables';

.post {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: left;
}

.postId, {
  font-size: 2em;
  margin-bottom: 1em;
}

.postContent {
  font-size: 1em;
  margin-bottom: 1em;
}
