@import '../../node_modules/reset-css/sass/_reset.scss';
@import '../styles/variables';

body {
  color: $primary-color;
  background: $background-color;
  font-family: $main-font;
}

a {
  color: $secondary-color;
  font-size: 1em;
  text-decoration: none;
}

h1 {
  font-size: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.pageHeader {
  height: 60px
}

.container {
  min-height: 700px;
}

.containerCentered {
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
